.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;  
}

.jogo-container {
  flex: 2;
}

.placar-container {
  flex: 1;
  margin-left: 20px;
}

.divBotoes {
  margin-top: 20px;
}


@media (max-width: 768px) {
  #container {
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
  }

  #container div {
      width: 100px;
      height: 100px;
  }

  .quadrado {
      font-size: 40px;
  }
}
