#dificuldade {
    position: absolute;
    width: min-content;
    font-size: 25px;
    bottom: 50%;
    right: 10%;
    margin: 1rem;
    background-color: transparent;
    color: white;
}

#dificuldade option {
    color: black !important;
}

#dificuldade:disabled {
    border: solid 1px red;
}